<section class="mt-14 text-lg md:text-2xl font-bold font-mono text-white flex flex-col gap-10 justify-center">
    <h1 class="text-2xl text-blue-500 self-center">Reservas</h1>
    <table class="table">
        <!-- head -->
      <thead class="text-lg">
        <tr>
          <th>Cliente</th>
          <th>Mesa</th>
          <th>Fecha y Hora</th>
          <td>Personas</td>
          <td>Estado</td>
          <td>Acciones</td>
        </tr>
      </thead>

        <!-- body -->
      <tbody class="text-sm">
        @for (reser of reservationResource.value(); track $index) {
        <tr>
          <td>{{ reser.nombre_usuario }}</td>
          <td>{{ reser.numero_mesa }}</td>
          <td>{{ reser.fecha | fechaUtcIso }} - {{ reser.hora }}</td>
          <td>{{ reser.personas }}</td>
          <td>{{ reser.estado }}</td>
          <td class="flex justify-center gap-5">
            <label for="my_modal_6">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-pencil-square cursor-pointer" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg>
            </label>

            <!-- Modal: form to edit order -->
            <input type="checkbox" id="my_modal_6" class="modal-toggle flex flex-col justify-center" />
            <div class="modal flex justify-center" role="dialog">
              <div class="w-lg flex flex-col justify-center align-middle bg-gray-950 gap-5 p-10 rounded-xl">
                <h1 class="text-center text-xl text-blue-500">
                  Edita el Producto
                </h1>
                <form id="formulario" action="" class="w-full flex flex-col items-center justify-center gap-4">
                  <input class="input join-item" placeholder="Nombre" type="text" />
                  <input class="input join-item" placeholder="Descripción" type="text" />
                  <input class="input join-item" placeholder="Precio" type="number" />
                </form>

                <div class="flex justify-center gap-5 cursor-pointer">
                  <label for="my_modal_6" class="btn">Actualizar</label>
                  <label for="my_modal_6" class="btn">Cerrar</label>
                </div>
              </div>
            </div>


            <button class="cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                viewBox="0 0 16 16">
                <path
                  d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
              </svg>
            </button>
          </td>
        </tr>
        }
      </tbody>
      
    </table>
</section>