 <!-- Sección de productos destacados -->
@if (featuredProducts) {
    <article class="flex flex-col justify-center items-center gap-8 w-full mt-3">
           <section class="carousel w-full">
               @for (product of featuredProducts.values(); track $index) {
                   <div [id]="'slide' + ($index + 1)" class="carousel-item relative w-full">
                       <img [src]="getImageUrl(product.imagens[0])"
                       [alt]="'Imagen de ' + product.nombre"
                       class="w-full h-96 object-cover"
                       (error)="onImageError($event)">
                       
                       <!-- Overlay con información del producto -->
                       <div class="absolute inset-0 bg-opacity-40 flex items-end">
                           <div class="text-white p-6 w-full">
                               <h3 class="text-2xl font-bold mb-2">{{ product.nombre }}</h3>
                               <p class="text-sm mb-3 line-clamp-2">{{ product.descripcion }}</p>
                               <div class="flex justify-between items-center">
                                   <span class="text-xl font-bold">{{ product.precio }}€</span>
                                   <button class="btn bg-blue-900 btn-lg" (click)="addToCart(product)">Agregar al carrito</button>
                               </div>
                           </div>
                       </div>
                       
                       <!-- Flechas de navegación -->
                       <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                           <button (click)="goToPreviousSlide($index)" class="btn btn-circle">❮</button>
                           <button (click)="goToNextSlide($index)" class="btn btn-circle">❯</button>
                       </div>
                   </div>
               }
           </section>
   </article>

}