<article class="flex flex-col justify-center items-center gap-8 w-full mt-20">
    <section class="flex flex-col justify-center items-center gap-0 text-center">
        <h2 class="text-2xl sm:text-3xl md:text-4xl font-bold text-red-500 mb-2">
            Reserva tu Mesa
        </h2>
        <p class="text-sm sm:text-base md:text-lg font-bold max-w-md lg:max-w-lg xl:max-w-xl text-black">
            Asegura tu lugar en BookMyMeal y disfruta de una experiencia gastronómica única
        </p>

        <div class="flex flex-row justify-center items-center gap-4 mt-10">
            <a href="tel:666666666" class="btn bg-blue-900 border-blue-900 hover:bg-blue-900 text-white w-47">
                Llamar ahora
            </a>
            <button class="btn bg-red-500 border-red-500 text-white hover:bg-red-500  w-47" routerLink='/reservas'>Realizar tu reserva</button>
        </div>
        <div class="text-center mt-6">
            <p class="text-sm text-gray-600 mb-4">
                ¿Prefieres llamar? También puedes hacer tu reserva por teléfono
            </p>
        </div>
    </section>
</article>