<section class="mt-14 text-lg md:text-lg sm:text-md font-bold font-mono text-white flex flex-col gap-10 justify-center">
  <div class="flex justify-center items-center">
    <h1 class="text-2xl text-blue-500">Productos</h1>
  </div>
  
  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead class="text-lg text-blue-300 font-bold">
        <tr class="text-center">
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <!--<th>Disponible</th> -->
          <td>Acciones</td>
        </tr>
      </thead>

      <tbody class="text-sm text-center">
        @for (product of productsResource.value(); track $index) {
        <tr>
          <td>{{ product.nombre }}</td>
          <td>{{ product.descripcion | slice: 0:50 }}...</td>
          <td>{{ product.precio }}</td>
          <!-- 
            <td>
              @if (product.disponible === 1) {
              <p class="text-green-500">Disponible</p>
              }@else {
              <p class="text-red-500">NO Disponible</p>
              }
            </td>
          -->

          <!-- Buttons actions-->
          <td class="flex flex-col align-middle justify-center gap-5">
            <div class="flex align-middle justify-center gap-5">
              <!-- Button to update product-->
              <a [routerLink]="['actualizar', product.producto_id]" class="cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-pencil-square cursor-pointer" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                </svg>
              </a>
  
               <!-- Button to delete product-->
              <button class="cursor-pointer" (click)="deleteProduct(product.producto_id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3"
                  viewBox="0 0 16 16">
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                </svg>
              </button>
            </div>

            <!-- Button link product details-->
            <div class="flex align-middle justify-center gap-5">
              <a [routerLink]="['detalles', product.producto_id]" class="w-30 text-xs text-center text-slate-50 cursor-pointer underline">Detalles del producto</a>
            </div>
          </td>
        </tr>
        }
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a routerLink="crear" class="btn bg-blue-500">Crear Producto</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>