<!-- Header -->
<app-home-featured-component
  [featuredProducts]="featuredProductsResource">
</app-home-featured-component>

<!-- Main -->
<main class="flex flex-col gap-5 p-6 sm:p-8 md:p-10 lg:p-12 xl:p-16 font-mono w-full overflow-x-hidden mt-10">
    <app-home-main-presentation-component></app-home-main-presentation-component>
    <app-home-menu-products-component 
        [featuredProducts]="featuredProductsResource">
    </app-home-menu-products-component>
    <app-home-reservation-section-component></app-home-reservation-section-component>
</main>
