<header class="h-full navbar bg-blue-950 shadow-sm font-mono justify-between lg:justify-around xl:justify-around p-0">
    <div>
        <ul class="menu menu-horizontal px-1">
            <li>
                <a class="text-xl flex flex-col" routerLink="">
                    Book My Meal
                </a>
            </li>
        </ul>
    </div>

    <body class="flex items-center justify-center lg:hidden xl:hidden h-full">
        <ul class="flex justify-center items-center gap-2 menu menu-horizontal p-0 h-full">
            <li class="h-full flex flex-row justify-center items-center">
                <details>
                  <summary class="text-xl flex gap-3 h-full"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                    </summary>
                  <ul class="p-2 w-100 absolute left-[-330px] mt-2 bg-white border-blue-950 border-1 rounded-md shadow-lg">
                    <li>
                        <p class="text-lg text-black font-bold">Mis productos(0)</p>
                    </li>
                    <li>

                    </li>
                    <li>
                        <button class="btn bg-blue-950 text-white">Confirmar pedido</button>
                    </li>
                  </ul>
                </details>
              </li>
        </ul>
        <div class="relative inline-block group">
            <button class="text-white px-4 py-2 rounded-md group-hover:block">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
                </svg>
            </button>
            <div class="absolute hidden mt-0.5 w-40 bg-white rounded-md shadow-lg group-hover:block group-focus-within:block left-[-105px]">
                <a class="px-4 py-2 text-white bg-red-500 text-xl flex justify-between" routerLink="reservas">
                    Reservar
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                </a>
                <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-xl" routerLink="carta">Carta</a>
                <div class="group/cuenta relative btn-block px-4 py-2 text-gray-800 hover:bg-gray-200 text-xl cursor-pointer">
                    <div class="flex justify-between">
                        Cuenta
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg> 
                    </div>
                    
                    <div class="absolute hidden mt-2 w-50 bg-white rounded-md shadow-lg left-[-65px] group-hover/cuenta:block group-focus-within/cuenta:block">
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-xl" routerLink="login">Iniciar sesión</a>
                        <a href="#" class="block px-4 py-2 text-gray-800 hover:bg-gray-200 text-xl" routerLink="register">Registrarse</a>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <div class= "hidden xl:flex lg:flex md:flex-none sm:flex-none h-full">
        <ul class="flex justify-center items-center gap-2 menu menu-horizontal p-0 h-full">
            <li>
                <a class="text-xl" routerLink="carta">Carta</a>
            </li>

            <li class="h-full flex flex-row justify-center items-center">
              <details>
                <summary class="text-xl flex gap-3 h-full"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>  
                  Acceder</summary>
                <ul class="p-2 left-[-80px] bg-white border-blue-950 border-1 rounded-md shadow-lg">
                  <li class="w-57 text-xl text-black hover:bg-gray-100">
                    <a class="gap-5" routerLink="login">
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                          </svg>                      
                        Iniciar sesión
                    </a>
                    </li>
                    
                    <li class="w-57 text-xl text-black hover:bg-gray-100">
                        <a class="gap-5"  routerLink="register">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0"/>
                            </svg>
                            Registrarse
                        </a>
                    </li>
                </ul>
              </details>
            </li>

            <li routerLink="reservas" class="text-white flex flex-row justify-center items-center bg-red-500 h-full cursor-pointer">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-calendar2" viewBox="0 0 16 16">
                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                        <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                      </svg>
                  </div>
                <a class="text-xl pl-0">Reservar</a>
            </li>
            <li class="h-full flex flex-row justify-center items-center">
                <details>
                  <summary class="text-xl flex gap-3 h-full"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-cart2" viewBox="0 0 16 16">
                            <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"/>
                        </svg>
                        0,00 €
                    </summary>
                  <ul class="p-2 w-100 absolute left-[-250px] mt-2 bg-white border-blue-950 border-1 rounded-md shadow-lg">
                    <li>
                        <p class="text-lg text-black font-bold">Mis productos(0)</p>
                    </li>
                    <li>

                    </li>
                    <li>
                        <button class="btn bg-blue-950 text-white">Confirmar pedido</button>
                    </li>
                  </ul>
                </details>
              </li>
          </ul>
    </div>
</header>