<main class="flex flex-col gap-5 p-6 sm:p-8 md:p-10 lg:p-12 xl:p-16 font-mono w-full overflow-x-hidden mt-10">
    <article class="w-full bg-gray-50 p-10 gap-8 lg:gap-12 max-w-7xl mx-auto">
        <div class="flex flex-row gap-3">
            <h1 class="h-13 text-3xl text-red-500 font-extrabold">Nuestra Carta</h1>
        </div>
        <p class="text-blue-900 font-bold">Elige entre nuestra gran variedad de platos.</p>
    </article>

    @if (productsResource.isLoading()) {
        <article class="flex justify-center items-center p-10 gap-8 lg:gap-12 w-full max-w-7xl mx-auto">
            <span class="loading loading-spinner loading-lg font-extrabold text-blue-500"></span>
        </article>
    } @else if (productsResource.error()) {
        <article class="alert alert-error bg-red-500 font-extrabold p-10 gap-8 lg:gap-12 w-full max-w-7xl mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span>Error al cargar los productos. Por favor, intente más tarde.</span>
        </article>
    } @else {
        <article class="w-full p-10 gap-8 lg:gap-12 max-w-7xl mx-auto">
            @for (categoryName of getCategoryNames(groupedProducts()); track categoryName) {
                <div class="mb-10">
                    <div class="flex items-center gap-2 mb-5">
                        <h2 class="text-2xl text-blue-900 font-bold whitespace-nowrap">{{ categoryName }}</h2>
                        <div class="flex-1 h-px bg-gray-950"></div>
                    </div>
                    <div class="grid grid-cols-1 justify-items-center sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 lg:gap-15 gap-12">
                        @for(product of groupedProducts()[categoryName]; track product.producto_id){
                            <carta-product-details 
                                [product]="product" 
                                [getImageUrl]="getImageUrl" 
                                [onImageError]="onImageError">
                            </carta-product-details>
                        }
                    </div>
                </div>
            }
            @if (getCategoryNames(groupedProducts()).length === 0) {
                <p class="text-center text-gray-500 text-xl">No hay productos disponibles en este momento.</p>
            }
        </article>
    }
</main>